Repository utk-cs/CS340-Fall-2021, pull requests merged in 2021-09, with the labels that each got.

#4 add students/reehsemm.md
  students/reehsemm.md
Labels: students

#5 students: add cdegawa
  students/cdegawa.md
Labels: students

#6 added students/lwrinkle.md
  students/lwrinkle.md
Labels: students

#7 Add MD file
  students/wjohns53.md
Labels: students

#8 added ljakstas.md
  students/ljakstas.md
Labels: students

#9 Add ipelton to students list
  students/ipelton.md
Labels: invalid, students

#12 I am adding myself to the roll
  students/tplayer.md
Labels: students

#13 add eander68 to students list
  students/eander68.md
Labels: students

#14 Added awelden2
  students/awelden2.md
Labels: students

#17 added lmccombs.md
  students/lmccombs.md
Labels: students

#23 Add pvelas.md
  students/pvelas.md
Labels: students

#21 add my username
  students/bschwar7.md
Labels: students, mismatched-commit-author

#24 added yahmad1.md
  students/yahmad1.md
Labels: students

#25 Added sthomp89 to students list
  students/sthomp89.md
Labels: students

#19 create gbrown39.md
  students/gbrown39.md
Labels: students, committed-on-github

#27 adding username
  students/dhuang14.md
Labels: students

#28 Added kmaclin1 to student list
  students/kmaclin1.md
Labels: students

#29 added slaughl2.md
  students/slaughl2.md
Labels: students, committed-on-github

#30 Created imacdoug.md
  students/imacdoug.md
Labels: students

#26 Create jamin.md
  students/jamin.md
Labels: students, committed-on-github

#33 Add jallbrit.md
  students/jallbrit.md
Labels: students

#54 Added my student file
  students/bklein3.md
Labels: students

#89 Student Merge Request
  students/lsharpe8.md
Labels: students

#66 Added student file
  students/rschenck.md
Labels: students

#65 Added student .md file
  students/jbradf19.md
Labels: students

#63 Added elidberb.md
  students/elidberb.md
Labels: students

#61 added cmoore99.md
  students/cmoore99.md
Labels: students

#60 Adding Student File (dmunsey4)
  students/dmunsey4.md
Labels: students

#102 Added bparke37.md
  students/bparke37.md
Labels: students

#101 Hopefully I did this right...
  students/fprawira.md
Labels: students

#99 Adding tneuefei.md
  students/tneuefei.md
Labels: students

#98 added myself
  students/kpatel68.md
Labels: students

#57 added my student file
  students/dkenne15.md
Labels: students

#96 Added student file
  students/batkhamj.md
Labels: students

#55 added student file
  students/zhamm.md
Labels: students

#95 added ntayefeh.md
  students/ntayefeh.md
Labels: students

#42 Add student file to students folder
  students/cjohn260.md
Labels: students

#52 added student file mwyatt14.md
  students/mwyatt14.md
Labels: students

#94 submitting name
  students/mmathur.md
Labels: students

#50 Added 'students/cbrow216.md' (me)
  students/cbrow216.md
Labels: students

#49 Added ndrake1.md
  students/ndrake1.md
Labels: students

#87 info
  students/jwrig117.md
Labels: students

#88 My Student.md Pull Request.
  students/wparham1.md
Labels: students

#48 added sxue3.md
  students/sxue3.md
Labels: students

#93 Adding Student Name
  students/mhughe36.md
Labels: students

#92 Added tfowler6.md
  students/tfowler6.md
Labels: students

#47 Add dbeaty.md
  students/dbeaty.md
Labels: students

#86 file
  students/jim5.md
Labels: students

#85 add file
  students/mdeleon1.md
Labels: students

#82 added student file
  students/otrejome.md
Labels: students

#79 added rschaff1.md
  students/rschaff1.md
Labels: students

#77 Added my student file
  students/kleland.md
Labels: students

#44 Added vaiely.md
  students/vaiely.md
Labels: students

#76 Create pcollie4.md
  students/pcollie4.md
Labels: students

#74 Student information file
  students/clee95.md
Labels: students

#72 adding vhanset.md
  students/vhanset.md
Labels: students

#71 Added name to students file.
  students/pattle.md
Labels: students

#70 add ccondon.md
  students/ccondon.md
Labels: students

#68 Student file for Soofi Punjani
  students/spunjani.md
Labels: students

#39 markdown document for Anderson Walsh
  students/awalsh15.md
Labels: students

#38 tainley.md added
  students/tainley.md
Labels: students

#37 added abhayani.md
  students/abhayani.md
Labels: students

#35 Create jsun36.md
  students/jsun36.md
Labels: students

#67 Added my student file
  students/hlam4.md
Labels: students, invited

#20 create aesser.md
  students/aesser.md
Labels: students, committed-on-github

#36 Added student markdown file
  students/bgullet1.md
Labels: students, mismatched-commit-author, invited

#84 added my student file
  students/rramire7.md
Labels: students, invited

#91 Create mwalte21.md
  students/mwalte21.md
Labels: students, committed-on-github, invited

#31 Create fxie6.md
  fxie.md
Labels: students, committed-on-github, invited

#59 Added my student file
  students/cellio28.md
Labels: students, mismatched-commit-author, invited

#64 Added my student file
  students/pbowlin1.md
Labels: students

#100 team and project proposal for team `Team-v2FINAL1`
  teams/team-v2FINAL1.md
Labels: teams, custom-project, needs-review, members-complete

#109 PR
  students/kwooda13.md
Labels: students

#97 add my student file
  students/mdenise.md
Labels: students, mismatched-commit-author, invited

#40 Create aphan2.md
  students/aphan2.md
Labels: students, committed-on-github, invited

#16 Create spate118.md
  students/spate118.md
Labels: students, committed-on-github, invited

#53 Create jananth2.md
  students/jananth2.md
Labels: students, committed-on-github, mismatched-commit-author, invited

#58 Added my student file
  students/lgangula.md
Labels: invalid, students, invited

#112 add bmclaug6.md
  students/bmclaug6.md
Labels: students

#34 PR
  students/nyy212.md
Labels: students, committed-on-github, invited

#45 create lprocto3.md
  students/lprocto3.md
Labels: students, committed-on-github, invited

#126 sblank added
  students/sblank11.md
Labels: students, invited

#111 Adding Team Dragon
  teams/dragon.md
Labels: teams, members-complete

#90 Added my details
  students/jrodri33.md
Labels: students, mismatched-commit-author, invited

#129 add Taha
  students/tkhan7.md
Labels: students, invited

#130 My pull request
  students/kcraddoc.md
Labels: students, invited

#132 added sdahms.md
  students/sdahms.md
Labels: students, invited

#134 add student file
  students/gwebb13.md
Labels: students, invited

#135 created team file for our team
  teams/tem.md
Labels: teams, members-complete

#113 fixed mismatched commit and added student file
  students/aroman.md
Labels: students

#119 Create ssuresh6.md
  students/ssuresh6.md
Labels: students, committed-on-github, invited

#131 added student info
  students/ahickm18.md
Labels: students

#139 new
  students/robdgrif.md
Labels: students, invited

#140 add team file
  teams/burritobrigade.md
Labels: teams, members-complete

#73 Create vrb684.md
  students/vrb684.md
Labels: students

#43 Create jnotowic.md
  students/jnotowic.md
Labels: students, committed-on-github, invited

#147 Abdurhman
  students/abahour2.md
Labels: students, invited

#128 Added my markdown file jpage21.md
  students/jpage21.md
Labels: students

#149 adding new student
  students/ahillhou.md
Labels: students

#146 adding new student
  students/dwhite75.md
Labels: students

#150 added mxw557.md
  students/mxw557.md
Labels: students, invited

#144 opening pull request after opening my file
  students/nmorri11.md
Labels: students, invited

#154 Adding personal md file
  students/akrneta.md
Labels: students, invited

#114 Added student file
  students/zlim2.md
Labels: students

#62 Added Student file
  students/oselyuti.md
Labels: students

#151 Create TMWRK.md
  teams/TMWRK.md
Labels: teams, members-complete

#157 Added name to students
  students/bdallstr.md
Labels: students

#145 added name
  students/ciadonis.md
Labels: students, invited

#122 Add Team Alpha
  teams/Team_alpha.md
Labels: teams, members-complete

#110 Create Team 622 Inferno
  teams/team-622-infero.md
Labels: teams, custom-project, members-complete

#153 Added Team file.
  teams/relevant_.md
Labels: teams, custom-project, members-complete

#106 add the team file FINAL
  teams/thebugsquashers.md
Labels: teams, members-complete

#152 New group (might add 1 more person by tonight)
  teams/sack.md
Labels: teams, members-complete

#156 Added Team Coconuts
  teams/team_coconuts.md
Labels: teams, members-complete

#163 adding my PR file
  students/csmit402.md
Labels: students, committed-on-github, invited

#120 Create Team tmpName #Replace Later
  teams/tmpName.md
Labels: teams, custom-project, members-complete

#124 Addteam
  teams/Myteam5.md
Labels: teams, custom-project, members-complete

#162 Add team notveryqt
  teams/notveryqt.md
Labels: teams, custom-project, members-complete

#148 adding a team file, but we only have 2 people so far
  teams/teamlit.md
Labels: teams, custom-project, members-complete

#133 Added Team Info
  teams/Team-SUPER-AWESOME-MEGA-WOW.md
Labels: teams, custom-project, members-complete

#169 Create jmuncy2.md
  students/jmuncy2.md
Labels: students, committed-on-github

#104 Added team NobleToads to team list
  teams/NobleToads.md
Labels: teams, members-complete

#123 added team_001.md
  teams/team_001.md
Labels: teams, members-complete

#160 Added Team HappyLittleTrees looking-for-members
  teams/HappyLittleTrees.md
Labels: teams, members-complete

#168 Team Mallard
  teams/mallard.md
Labels: teams, members-complete

#164 Teamok.md
  teams/TeamOK.md
Labels: teams, members-complete

#143 added the inital version of our poggies team
  teams/Bepi.md
Labels: teams, members-complete, wanting-project-description

#167 Team Alabio
  teams/alabio.md
Labels: teams, members-complete

#166 Team Plumed
  teams/plumed.md
Labels: teams, members-complete

#138 team added
  teams/mothballs.md
Labels: teams, members-complete

#175 created prettypinkponies.md and added proposal description
  teams/prettypinkponies.md
Labels: teams, members-complete
